<!-- nav.html -->
<nav>
    <ul>
        <li><a href="{% url 'products:home' %}">Home</a></li>
        {% if user.is_authenticated%}
        <!--Ahora comprobamos is el usuario es un administrador-->
        {% if user.is_staff %}
        <li> <a href="{% url 'adminprofile' %}">ProfileAdmin</a> </li>
        {% else %}
        <li> <a href="{% url 'userprofile' %}">Profile</a> </li>
        {% endif %}
        <li><a href="{% url 'logout' %}">Logout</a></li>
        {% else %}
        <li><a href="{% url 'userLogin' %}">Login</a></li>
        {% endif %}
    </ul>
</nav>
